{% extends "base.html" %}

{% block content %}

<div class="row content-border">
  <div class="col-md-10 offset-md-1 catalog-item">
    <h2 class="dark-h">{{item.title}}</h2>
    <hr/>
    <p>Description: {{item.description}}</p>
    <br>
    {% if login %}
    <p>
      <a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">Edit</a> |
      <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}">Delete</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}